Source: iris-vpu
Section: kernel
Priority: optional
Maintainer: Renjiang Han <renjiang@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13), dh-sequence-dkms
Rules-Requires-Root: no
Standards-Version: 4.7.2
Homepage: https://github.com/qualcomm-linux/pkg-video-driver

Package: iris-vpu-dkms
Architecture: arm64
Depends: kmod,linux-initramfs-tool, ${misc:Depends}
Conflicts: qcom-iris-dkms
Description: DKMS package for MSM VIDC driver (out-of-tree)
 This package installs source for the 'video' kernel module and builds
 it via DKMS on the target machine using the current kernel build tree.
 .
 DKMS packaging for MSM VIDC driver (out-of-tree).
 Build occurs on install via /lib/modules/<kernel-version>/build.
