Source: iris-vpu-dkms
Section: kernel
Maintainer: Maintainers.pkg-video-driver <Maintainers.pkg-video-driver@qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
Build-Depends:
 cpio,
 debhelper-compat (= 13),
 dh-sequence-dkms,
Standards-Version: 4.7.4
Vcs-Browser: https://github.com/qualcomm-linux/pkg-video-driver
Vcs-Git: https://github.com/qualcomm-linux/pkg-video-driver.git
Homepage: https://github.com/qualcomm-linux/video-driver

Package: iris-vpu-dkms
Architecture: all
Depends:
 dkms (>= 2.6),
 kmod,
 ${misc:Depends},
Conflicts:
 qcom-iris-dkms,
Description: MSM VIDC driver (DKMS)
 This package contains the source code of Video driver for VPUs. Required to
 use VPU hardware on Qualcomm Snapdragon targets.
 .
 VPU is a multi pipe based hardware that offloads video stream decoding from
 the application processor (AP). It supports H.264, H265, VP9, AV1 decoding and
 H264, H265 encoding. The AP communicates with hardware through a well defined
 protocol, called as host firmware interface (HFI), which provides fine-grained
 and asynchronous control over individual hardware features.
 .
 Supported platforms: hamoa, lemans.
 .
 This package contains the source code for the iris_vpu kernel module.
