#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.

include /usr/share/dpkg/pkg-info.mk

DEST_SRC=debian/iris-vpu-dkms/usr/src/iris-vpu-$(DEB_VERSION_UPSTREAM)

%:
	dh $@

execute_after_dh_install:
	mkdir -p $(DEST_SRC)

	find . \
		-path ./debian -prune \
		-o -path ./.git -prune \
		-o -path ./.github -prune \
		-o -path ./.gitignore -prune \
		-o -path ./.pc -prune \
		-o -path ./LICENSE.txt -prune \
		-o -path ./README.md -prune \
		-o -print0|cpio -0p $(DEST_SRC)/

override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
