#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.

include /usr/share/dpkg/pkg-info.mk

DEST_SRC = debian/iris-vpu-dkms/usr/src/iris-vpu-$(DEB_VERSION_UPSTREAM)

%:
	dh $@

override_dh_dkms:
	dh_dkms -V

execute_after_dh_install:
	mkdir -p $(DEST_SRC)
	cp debian/dkms-Makefile $(DEST_SRC)/Makefile
	cp Kbuild $(DEST_SRC)/
	cp -r driver $(DEST_SRC)/
	cp -r video $(DEST_SRC)/
	cp -r include $(DEST_SRC)/
	cp -r config $(DEST_SRC)/

override_dh_auto_clean override_dh_auto_build override_dh_auto_test override_dh_auto_install:
